{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block stylesheets %}
<style>
    .fakeBody {
        /* Styles spécifiques */
    }
</style>
{% endblock %}

{% block body %}

<div class="fakeBody">

    {{ include('components/nav.html.twig')}}

    <div class="container-page">
        <div class="wrapper">
            <div class="grid">
                <h2 class="title">List of Tricks</h2>
                {% for i in 1..20 %}
                    {{ include('components/card.html.twig')}}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
